%h1= t('issue.title')

.row
  .col-md-10
    %h5= t('issue.description')
  .col-md-2
    = link_to t('issue.new_issue'), new_issue_path, class: 'btn btn-primary'
  
.issues-table
  = render :partial => 'table'