.row
  .col-md-8
    %h1= t('site.welcome.title')
    %h5= t('site.welcome.text_html')
    
    
    %p=@page

  .col-md-4
    .col-md-8.col-md-offset-2
      = render partial: 'devise/sessions/new' unless current_user