= render partial: "edit_tabs"

= form_for [@gallery, @image], :html => { :multipart => true, :id => "fileupload"  } do |f|
  .row.fileupload-buttonbar
    .col-md-8
      %span.btn.btn-success.fileinput-button
        %i.glyphicon.glyphicon-plus
        %span Add files...
        = f.file_field :file, multiple: true, name: 'image[file]'
      %button.btn.btn-primary.start{:type => "submit"}
        %i.glyphicon.glyphicon-upload
        %span Start upload
      %button.btn.btn-warning.cancel{:type => "reset"}
        %i.glyphicon.glyphicon-ban-circle
        %span Cancel upload
      %button.btn.btn-danger.delete{:type => "button"}
        %i.glyphicon.glyphicon-trash
        %span Delete
      %input.toggle{:type => "checkbox"}
      %span.fileupload-process
      
    .col-md-4.fade.fileupload-progress
      .progress.progress-striped.active
        .progress-bar.progress-bar-success{:role => "progressbar",:style => "width:0%;"}
          %span.sr-only
      .progress-extended &nbsp;
      
  %table.table.table-striped
    %tbody.files


%script#template-upload{:type => "text/x-tmpl"}
  {% for (var i=0, file; file=o.files[i]; i++) { %}
  %tr.template-upload.fade
    %td.preview
      %span.preview.fade
    %td.name
      %span
        {%=file.name%}
    %td.size
      %span
        {%=o.formatFileSize(file.size)%}
        
    {% if (file.error) { %}
    %td.error{colspan: 2}
      %span.label.label-important {%=locale.fileupload.error%}
      {%=locale.fileupload.errors[file.error] || file.error%}
    {% } else if (o.files.valid && !i) { %}
    %td
      .progress.progress-success.progress-striped.active
        .progress-bar.progress-bar-success{style: "width:0%;"}
    
    %td.start 
      %button.btn.btn-primary
        %i.glyphicon.glyphicon-upload
        %span {%=locale.fileupload.start%}
    {% } %}
    {% if (!i) { %}
    %td.cancel
      %button.btn.btn-warning
        %i.glyphicon.glyphicon-ban-circle
        %span {%=locale.fileupload.cancel%}
      {% } %}
    {% } %}
  

%script#template-download{:type => "text/x-tmpl"}
  {% for (var i=0, file; file=o.files[i]; i++) { %}
  %tr.template-download.fade
    {% if (file.error) { %}
    %td
    %td.name
      %span {%=file.name%}
    %td.error{colspan: 2}
      %span.label.label-important {%=locale.fileupload.error%}
      {%=locale.fileupload.errors[file.error] || file.error%}
    {% } else { %}
    %td.preview 
      {% if (file.thumbnail_url) { %}
      %img{src: "{%=file.thumbnail_url%}"}
      {% } %}
    %td.name {%=file.name%}
    %td.size 
      %span {%=o.formatFileSize(file.size)%}
    %td{colspan: 2}
    {% } %}
    %td.delete
      %button.btn.btn-danger{'data-type' => "{%=file.delete_type%}", 'data-url' => "{%=file.delete_url%}"}
        %i.glyphicon.glyphicon-trash
        %span {%=locale.fileupload.destroy%}
      %input{type: "checkbox", name: "delete", value: '1'}
  {% } %}


%script{:charset => "utf-8", :type => "text/javascript"}
  $(function () {
  
  $('#fileupload').fileupload({
  dataType: 'json'
  });

  $.getJSON($('#fileupload').prop('action'), function (files) {
  var fu = $('#fileupload').data('blueimpFileupload'), template;
  
  template = fu._renderDownload(files).appendTo($('#fileupload .files'));

  fu._reflow = fu._transition && template.length && template[0].offsetWidth;
  template.addClass('in');
  $('#loading').remove();
  });
  });
